body {
    background: #eee;
}
.wrapper {
    background: #fff;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}
.wrapper:after {
    content: '';
    display: block;
    clear: both;
}
.services::after {
    content: '';
    display: block;
    clear: both;
}
.service h1,
.service p {
    color: #999;
    margin: 10px 0;
    text-align: center;
}
.service {
    background: #eee;
    float: left;
    width: 29.333%;
    margin: 1%;
    padding: 1%;
}
.content {
    background: #eee;
    padding: 10px;
    margin: 10px;
}
section,
aside {
    float: left;
    width: 40%;
    padding: 1%;
    margin: 1%;
    background: #f2f2f2;
}
img {
    width: 100%;
}

#banner {
    position: relative;
}
#banner {
    max-height: 500px;
    overflow: hidden;
    margin: 1%;
}
#banner h1 {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    color: #fff;
}
.columns:after {
    content: '';
    display: block;
    clear: both;
}
nav {
    width: 100%;
    background: #333;
    padding: 5px;
    background: #eee;
}

nav ul:after {
    content: '';
    display: block;
    clear: both;
}
nav li {
    list-style-type: none;
    color: black;
    margin: 0 10px;
    float: left;
}
